[submodule "externals/Base32"]
	path = externals/Base32
	url = https://github.com/ekscrypto/Base32.git
[submodule "externals/CocoaAsyncSocket"]
	path = externals/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
